/*.THIS {
    background: #f4f6f9;
}*/
.THIS.acses-search-background{
    background: #fafaf9;
}
.THIS .acses-background {
    background: #fafaf9;
    height: 100%;
}
.THIS .slds-select{
    min-height: calc(2.125rem + 2px);
}
.THIS .slds-form-element__label{
    font-size: 0.8rem;
}
.THIS .heading-style{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1em;
    color: #000000;
    margin-bottom: inherit;
}
.THIS .slds-th__action-button{
    display: none;
}
.THIS .slds-truncate{
    white-space: pre-wrap;
}
.THIS .slds-grid_align-end{
    justify-content: inherit;
}