.THIS .multiSelect .slds-form-element__control
{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
}


.THIS .grey-header-bg .slds-accordion__summary-action{
    background:rgb(243, 242, 242);
    padding: 0.5rem;
    max-width : fit-content;
    margin-left: 0.5rem;
}