.THIS .header-link {
    color: #3e3e3c;
}

/* Added and included in .cmp by Rishav for CCCAP-2556 */
.THIS .rowMaxWidthOverride {
    max-width: 8rem;
}

/* Added and included in .cmp by Rishav for CCCAP-2556 */
.THIS .rowFitContent {
    max-width: fit-content;
}