@media all and (min-width: 48em){
    .THIS .corspd-modal__container {
        margin: 0 auto;
        max-width: 80rem;
        min-width: 40rem;
        max-height: 80%;
        margin-top: 10%;
        overflow-y: auto;
    }
}