.day {
    width: 14%;
    border: 0.2px solid #ccc;
    padding: 5px;
    float: left;
    height: 184px;
}

.dayFailure {
    width: 14%;
    border: 0.2px solid #ccc;
    padding: 5px;
    float: left;
    height: 184px;
    overflow-y: auto;
}

.successCell {
    background-color: #b7f7c5;
}

.dirtyCell {
    background-color: #f7e6b7;
}

.errorCell {
    background-color: #f7b7bd;
}