.THIS .height-setup .slds-col{
    height: auto !important;
    min-height:4.25rem;
}
.THIS .grey-header-bg .slds-accordion__summary-action{
    background:rgb(243, 242, 242); 
    padding: 0.5rem;
}
.THIS .textwrap{
    white-space: normal;
    word-wrap: break-word;
}