.THIS .leftPaddingClass {
    /*padding-left: 2rem;*/
    min-height: calc(2.125rem + 2px);
}
.THIS .pillSize{
    width:100%;
}
.THIS .customIconPostionClass {
    margin-top: -19px;
}
.THIS .customBorderClass{
    border-color:#C23934;
    border-width:2px;
}
.THIS .slds-pill__label { 
    flex-grow: 1; 
} 
.THIS .slds-pill { 
    padding-left: 0px; 
    min-height: calc(2.125rem + 2px);
} 
.THIS .slds-pill__icon_container { 
    margin-right: 0px; 
    width: 0.75rem;
}