.slds-form-element__label {
    color: #3e3e3c;
    font-size: 0.75rem;
    font-weight: 400;
}

.slds-form-element__static {
    font-size: 0.8125rem;
    color: #080707;
}

.slds-hide {
    display: none;
}

table {
    width: 100%;
}

table td {
    vertical-align: top;
    padding-right: 1rem;
}