.THIS {
}

.THIS div.success_status{
    color:green;
}

.THIS canvas{
    height:50% !important;
    width:80% !important;
}


.THIS div.error_status{
    color:red;  
}
.THIS div.chartLabel {
    font-weight: bold;
    padding-bottom: 20px;  
}