/* Page Styling Starts */
.siteforceContentArea .comm-layout-column:not(:empty),
.siteforceStarterBody .cCenterPanel
{
    padding: 0px !important;
    margin: 0px !important;
    max-width: none !important;
}
/* Page Styling Ends */

/* Universal Styling Starts */
.flex-center_column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.flex-center_row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
/* Universal Styling Ends */
